/*@font-face {/* TODO: Add the font license* /
  font-family: "Balsamiq Sans";
  src: url(BalsamiqSansRegular.ttf) format("truetype");
}
@font-face {/* TODO: Add the font license* /
  font-family: "Sketchy Burger";
  src: url(SketchyBurger.otf) format("opentype");
}*/
.name{
      font-size: 3em;
      font-family: "Sketchy Burger", Helvetica, sans-serif;/*font-family:"Balsamiq Sans","courier new"; /*color:white;*/ letter-spacing: 2px;
      position: relative; top:calc(50% - 1.5em); transform: translate3D(0, -50%, 20px);
}
.links{
  position: relative; top: 30%; text-align:center; display:block; font-size: 2em; /*color:white;*/
}
.links a:link, .links a:visited, .links a:hover, .links a:active {
  color: black;
  text-decoration: none;
}
.name>span{text-align:center; display:block}
.circle{
  border-radius: 50%;
  width: 500px; height: 500px; margin: auto;
  text-shadow: -1px 1px 2px #222;
  /*background: linear-gradient(0deg, #777, #222); opacity: 8.0;*/
  transform-style: preserve-3d;
  /*transform: translate3D(0, 0, 20px);*/
}
.box{
  position:absolute;top:calc(50vh - 25vmin);left:calc(50vw - 25vmin);width:50vmin;height:50vmin;background-color:white;box-shadow: 5px 5px #444;border:5px solid #333;
}
.box * {
  text-align:center;position:relative;font-size:2em;margin:0;color:#333;
}
.popover{
  display: none;
  position: relative;
  top: /*-50px*/ calc(100vh - 250px);
  z-index: 1000;
  border-radius: 30px;
  width: 400px; height: 200px; margin: auto;
  background: #eee; opacity: 8.0;
  border-right: 3px grey;
  border-bottom: 3px grey;
  transform-style: preserve-3d;
  /*transform: translate3D(0, 0, 20px);*/
}
.popover-text{ 
  display: none;
  padding: 5px;
  font-family: Helvetica, sans-serif;
}
.popover-text h1{text-align: center;}
.popover-text p{
  text-align: justify;
  margin-left: 5px;
  margin-right: 5px;
}
.active{ display: block; }
/*.popover:after, .popover:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.popover:after {
  border-color: rgba(47, 64, 74, 0);
  border-bottom-color: #eee;
  border-width: 10px;
  margin-left: -10px;
}
.popover:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #eee;
  border-width: 16px;
  margin-left: -16px;
}
.l10.popover:after, .l10.popover:before{left: 10%;}
.l30.popover:after, .l30.popover:before{left: 30%;}
.l50.popover:after, .l50.popover:before{left: 50%;}
.l70.popover:after, .l70.popover:before{left: 70%;}
.l90.popover:after, .l90.popover:before{left: 90%;}*/

.boxlike {
  background-color:white;box-shadow: 5px 5px #444;border:5px solid #333;border-radius:0;
}

.image-circle{
  border-radius: 50%;
  width: 20vh; height: 20vh; margin: auto;
}
html{ width: 100%; height:100%;}
body{ margin:0; }
.block{
  background: #FEDF00;
  flex:1;
  height: 100vh;
  overflow-y: hidden;
}
.glitch-fish img{
  height: 32px;
  width: 28px;
  vertical-align: baseline;
}
.inverted{
  -webkit-filter: invert(1);
  filter: invert(1);
}