@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Fredoka+One&display=swap');

:root {
  --blue: #0058ff;
  --grey: #557;
  --yellow: #fedf00;
}

p,h3,strong,em,ul,.navbar * {
  font-family: 'Balsamiq Sans', Helvetica, sans-serif;
}

h2 {
  color: tomato;
  font-family: 'Fredoka One', 'Balsamiq Sans', Helvetica, sans-serif;
}

footer {
  font-family: 'Fredoka One', 'Balsamiq Sans', Helvetica, sans-serif;
}

a.anchor {
  /*font-style: italic;*/
  /*color: var(--grey);*/
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-color: var(--yellow);
}
a.anchor:hover {
  color: tomato;
  text-decoration-color: var(--yellow);
}

/*p,h2,h3,strong,em {
  font-family: 'Balsamiq Sans';
}*/

/*
@font-face {
  /* somepx's lockjaw v1 * /
  font-family: Lockjaw;
  src: url('./fonts/Lockjaw.ttf');
}

.lockjaw {font-family: Lockjaw}
*/
